*.pyc
*.pyo
*.ui~
_pycache__/
.env
env
.venv
venv
.vscode
.ruff_cache
tests/coverage/*
/dist
/lutris.egg-info
/flake.nix
/flake.lock

build
.project
.pydevproject
.settings
.ropeproject
.idea
tags

PYSMELLTAGS
lutris.e4p
.coverage
pga.db

.vscode
